/* Si tu utilises Tailwind, mets :
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

html, body, #root { height: 100%; }
body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Apple Color Emoji","Segoe UI Emoji"; background: #f3f4f6; }
